.aboutBackground {
  background-color: white;
  width: 100%;
  padding: 4rem 0rem;
}

.aboutPadding {
  width: 100%;
  max-width: 71.25rem;
  padding: 0rem 2rem;
  margin: 0 auto;
}

.aboutContainer {
  max-width: 71.25rem;
  margin: 0 auto;
  text-align: center;
  width: 261px;
}

.aboutText {
  font-family: "BlackHanSans-Regular";
  font-size: 3rem;
  color: black;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 50px;
}

.aboutContent {
  max-width: 57rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
  grid-gap: 50px;
}

.about img {
  width: 35px;
}

.aboutTitle {
  opacity: 0.7;
  font-family: "SpoqaHanSansNeo-Bold";
  color: black;
  font-size: 1.2rem;
  transform: rotate(0.03deg);
}

.aboutName {
  font-family: "NotoSansKR-Regular";
  color: black;
  font-weight: 500;
  transform: rotate(0.03deg);
}
