.bannerBackground {
  background-image: linear-gradient(to bottom, #499add, #4e61c0);
  width: 100%;
  padding: 4rem 0rem;
}

.bannerPadding {
  width: 100%;
  max-width: 71.25rem;
  padding: 0rem 2rem;
  margin: 0 auto;
}

.bannerContainer {
  max-width: 71.25rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.bannerText {
  font-family: "BlackHanSans-Regular";
  font-size: 4rem;
  color: #fff;
}

.bannerHr {
  width: 3.25rem;
  margin: 1.5rem auto;
  border: none;
  border-top: 0.2rem solid #444;
}

.bannerTextBottom {
  font-family: "NotoSansKR-Regular";
  font-size: 1.25rem;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
  transform: rotate(0.03deg);
}

.bannerButton {
  font-family: "NotoSansKR-Regular";
  display: inline-block;
  margin-top: 30px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #444;
  text-decoration: none;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  transform: rotate(0.03deg);
}

.bannerButton:hover {
  background-color: #05112a;
}

@media screen and (max-width: 992px) {
  .bannerText {
    font-size: 3rem;
  }
  .bannerTextBottom {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .bannerText {
    font-size: 42px;
  }
  .bannerTextBottom {
    font-size: 1rem;
  }
}

@media screen and (max-width: 393px) {
  .bannerText {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 390px) {
  .bannerText {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 375px) {
  .bannerText {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 360px) {
  .bannerText {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 280px) {
  .bannerText {
    font-size: 3rem;
  }
}
