.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 1.25rem 2rem;
  transition: all 0.5s;
}

.nav__white {
  background-color: #fff;
}

.nav__black {
  color: #5d4e44 !important;
}

.nav__black:hover {
  color: #f4623a !important;
}

.nav__container {
  max-width: 71.25rem;
  margin: 0 auto;
}

.nav__logo {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%, 0.7);
  line-height: 2rem;
  cursor: pointer;
}

.nav__logo:hover {
  color: white;
}

.nav__menus {
  float: right;
}

.nav__menu {
  display: inline-block;
  padding: 0 1rem;
  font-weight: 700;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.7);
  line-height: 2rem;
  cursor: pointer;
}

.nav__menu:hover {
  color: white;
}
