nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

ul {
  list-style: none;
}

.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.27rem;
}

.nav__logo {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  color: #444;
  line-height: 2rem;
  cursor: pointer;
}

.nav__logo:hover {
  color: #4e61c0;
}
.nav__toggle {
  font-size: 1.5rem;
  color: #5d4e44;
  background: transparent;
  border-color: transparent;
  /* transition: var(--transition); */
  cursor: pointer;
}
/* .nav__toggle:hover {
  transform: rotate(90deg);
} */

.links {
  color: #444;
  font-size: 1rem;
  font-family: "SpoqaHanSansNeo-Bold";
  display: block;
  padding: 0.3rem 1rem;
}
.links:hover {
  color: #4e61c0;
}
.links__container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  .nav__center {
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav__header {
    padding: 0;
  }
  .nav__toggle {
    display: none;
  }

  /* 사이즈 변경위해 꼭 필요 */
  .links__container {
    height: auto !important;
  }

  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
