.projectsBackground {
  background-color: #1d809f;
  width: 100%;
  padding: 4rem 0rem;
}

.projectsPadding {
  width: 100%;
  max-width: 71.25rem;
  padding: 0rem 2rem;
  margin: 0 auto;
}

.projectsTitle {
  max-width: 71.25rem;
  margin: 0 auto;
  text-align: center;
  width: 248px;
}

.projectsText {
  font-family: "BlackHanSans-Regular";
  font-size: 3rem;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #ccc;
}

.projectsContainer {
  margin-top: 50px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
  padding: 3rem;
}

.projectsContent {
  font-family: "BlackHanSans-Regular";
  font-size: 2.5rem;
  color: #222;
  text-align: center;
  transform: rotate(0.03deg);
}

.projectsDate {
  font-family: "NotoSansKR-Regular";
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #6c757d;
  opacity: 0.8;
  transform: rotate(0.03deg);
}

.projectsImgNet {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.content {
  position: relative;
  max-width: 100%;
  font-family: "NotoSansKR-Regular";
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 30px;
  transform: rotate(0.03deg);
  margin: 0 auto;
}

.contentMain {
  padding-bottom: 4.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.contentButton {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: #222;
  border-radius: 0.25rem;
  color: #fff;
  margin: 0;
}

.contentButton:hover {
  background-color: #444444;
}

.projectsDescription {
  margin-bottom: 1.8rem;
}

.projectsDeTitle {
  display: inline-block;
  vertical-align: top;
  width: 8.4rem;
  font-weight: 900;
  font-size: 1.1rem;
}

.projectsDeContent {
  display: inline-block;
  vertical-align: bottom;
}

a:link {
  color: #258de0;
}

a:visited {
  color: #258de0;
}

@media screen and (max-width: 576px) {
  .projectsContent {
    font-size: 2rem;
  }
  .projectsContainer {
    padding: 1.9rem;
  }
  .content {
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  }
}
