.skillsBackground {
  background-color: #f9c51d;
  width: 100%;
  padding: 4rem 0rem;
}

.skillsPadding {
  width: 100%;
  max-width: 71.25rem;
  padding: 0rem 2rem;
  margin: 0 auto;
}

.skillsTitle {
  margin: 0 auto;
  text-align: center;
  top: 70px;
  width: 170px;
}

.skillsText {
  font-family: "BlackHanSans-Regular";
  font-size: 3rem;
  color: black;
  border-bottom: 1px solid #000000;
  margin-bottom: 50px;
}

.skillsContainer {
  max-width: 97%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  grid-gap: 50px;
}

.skillsback:nth-child(1) {
  grid-row: 1 / 3;
}

.skillsback {
  position: relative;
  width: 17rem;
  margin: auto;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
  transition: all 0.1s;
}

.skillsback:hover {
  transform: translateY(5px);
}

.skillsback img {
  position: relative;
}

.skillsContent {
  position: relative;
  top: 1rem;
  margin: auto;
  width: 230px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  font-family: "Noto Sans KR";
  color: #f4623a;
  font-weight: 700;
  margin-bottom: 30px;
}

@media screen and (max-width: 414px) {
  .skillsback {
    width: 21rem;
  }
  .skillsback img {
    width: 18rem;
  }
  .skillsContent {
    width: 280px;
  }
  .skillsContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 393px) {
  .skillsback {
    width: 20rem;
  }
  .skillsback img {
    width: 18rem;
  }
  .skillsContent {
    width: 280px;
  }
  .skillsContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 390px) {
  .skillsback {
    width: 20rem;
  }
  .skillsback img {
    width: 17rem;
  }
  .skillsContent {
    width: 270px;
  }
  .skillsContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 375px) {
  .skillsback {
    width: 19rem;
  }
  .skillsback img {
    width: 16rem;
  }
  .skillsContent {
    width: 260px;
  }
  .skillsContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 360px) {
  .skillsback {
    width: 18rem;
  }
  .skillsback img {
    width: 15rem;
  }
  .skillsContent {
    width: 250px;
  }
  .skillsContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 280px) {
  .skillsback {
    width: 13rem;
  }
  .skillsback img {
    width: 11rem;
  }
  .skillsContent {
    width: 150px;
  }
  .skillsContainer {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
