@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("./fonts/SpoqaHanSansNeo-Bold.otf");
}

@font-face {
  font-family: "BlackHanSans-Regular";
  src: url("./fonts/BlackHanSans-Regular.ttf");
}

body {
  margin: 0;
  font-family: "SpoqaHanSansNeo-Bold";
  line-height: normal;
  width: 100%;
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}
